*.caffemodel
*.tsv
/snap
*__pycache__*
*.ipynb_checkpoints*
data/gqa/questions/
data/gqa/images/
data/gqa/lxmert_data/vg_gqa_imfeat/
data/gqa/lxmert_data/submit.json
data/gqa/lxmert_data/testdev.json
data/gqa/lxmert_data/train.json
data/gqa/lxmert_data/valid.json
data/gqa/challenge.json
data/gqa/test.json
